@model PagedList.IPagedList<PenParadise.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "AllProduct";
    Layout = "~/Views/Shared/_Baseview.cshtml";
}
<div id="main">
    <div class="cl">&nbsp;</div>
    <!-- Content -->
    <div id="content">
        <div class="products">
            <div class="cl">&nbsp;</div>
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <img src="~/Images/@Html.DisplayFor(modelItem => item.images)" alt="" />
                        <div class="product-info">
                            <h3>@Html.DisplayFor(modelItem => item.ProductName)</h3>
                            <div class="product-desc">
                                <h4>@Html.DisplayFor(modelItem => item.Branch.BranchName)</h4>
                                <strong class="price">@Html.DisplayFor(modelItem => item.Price)$</strong>
                            </div>
                            <h4>@Html.ActionLink("View Detail", "Details", "Store", new { id = item.ProductID }, null)</h4><br />
                            <div class="addcart">@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = item.ProductID }, "")</div>
                        </div>
                    </li>
                }
            </ul>
            <div class="cl">&nbsp;</div>
        </div>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("AllProduct",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

    <div id="sidebar">
        <div class="box search">
            <h2>Search by <span></span></h2>
            <div class="box-content">
                @using (Html.BeginForm("AllProduct", "Store", FormMethod.Get))
{
                    <label>Keyword</label>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    
                    <label>Product Type</label>
                    @Html.DropDownList("ProType", new SelectList(ViewBag.ProType))
                    
                    <input type="submit" class="search-submit" value="Search" />

                }
            </div>
        </div>
        <div class="box categories">
            <h2>Categories <span></span></h2>
            <div class="box-content">
                @{ Html.RenderAction("CategoryList"); }
            </div>
        </div>
    </div>

    <div class="cl">&nbsp;</div>
</div>