@model IEnumerable<PenParadise.Models.ProductType>

@{
    ViewBag.Title = "PRODUCT TYPE MANAGEMENT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="gradient-style">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ProductTypeName)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTypeName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProducTypeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProducTypeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProducTypeID })
                </td>
            </tr>
        }
    </tbody>
</table>
