@model PenParadise.Models.User

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Baseview.cshtml";
}
@Styles.Render("~/Content/css")

<script type="text/javascript" src="~/Scripts/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/js/jquery-ui.js"></script>
<link href="~/Content/css1/Manage.css" rel="stylesheet" />
<script>
    $(function () {
        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
</script>
@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Manage User</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserNameID)
        @Html.HiddenFor(model => model.UserName)
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.ActionLink("Change Password", "ChangePasswordPartial", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </div>
        </div>



        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.Role)




        <div class="form-group">
            @Html.LabelFor(model => model.FullName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName)
                @Html.ValidationMessageFor(model => model.FullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birthday, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Birthday)
                    @Html.ValidationMessageFor(model => model.Birthday)*@
                @Html.TextBoxFor(model => model.Birthday, new { id = "datepicker", type = "text" })
                @Html.ValidationMessageFor(model => model.Birthday)
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="your-oders">
    <a id="GetOrders"> Your Oders</a>
    <p id="rData"></p>
</div>
<script type="text/jscript">
    $('#GetOrders').click(function () {
        //$.getJSON('/Account/OrderCustomer/', function (data) {
        //        //var items = '<table><tr><th>ProductName</th><th>Quantity</th><th>UnitPrice</th><th>OrderDate</th><th>DeliveryAddress</th><th>PhoneContact</th></tr>';
        //        //$.each(data, function (i, order) {
        //        //    var MyDate_String_Value = order.OrderDate
        //        //    var value = new Date
        //        //                (
        //        //                     parseInt(MyDate_String_Value.replace(/(^.*\()|([+-].*$)/g, ''))
        //        //                );
        //        //    var dat = value.getMonth() +
        //        //                             1 +
        //        //                           "/" +
        //        //               value.getDate() +
        //        //                           "/" +
        //        //           value.getFullYear();
        //        //    items += "<tr><td><a href='/Store/Details/" + order.ProductID + "'>" + order.ProductName + "</a></td><td>" + order.Quantity + "</td><td>" + order.UnitPrice + "</td><td>" + dat + "</td><td>" + order.DeliveryAddress + "</td><td>" + order.PhoneContact + "</td></tr>";
        //        //});
        //        //items += "</table>";

        //    //$('#rData').html(items);
        //    alert(data);
        //});
        $.ajax({
            url: '/Account/OrderCustomer/',           
            type: "get",
            success: function (data) {
                $('#rData').html(data);
            }         
        });
        
    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section css {
    @Styles.Render("~/Content/css1/login.css")
}